 {% load static %}
<li>
     <article class="post">
         <a href="">
             <img src="{% static "blog/images/123.jpg" %}" alt="Banana eating">
             <div class="post__content">
                 <h3>Banana Eating</h3>
                 <p>Nom nom nom nom nom nom Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi dolor eos exercitationem fugit inventore iusto laboriosam molestiae nisi officiis porro ratione, recusandae sapiente soluta sunt suscipit tempora. Dicta, perferendis.</p>
             </div>
         </a>
     </article>
 </li>