{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block title %}
    My blog
{% endblock %}

{% block content %}
    <header id="main-navigation">
        <h1><a href="">Kingkong's blog</a></h1>
            <nav>
                <a href="">All posts</a>
            </nav>
        </header>
    <section id="welcome">
        <header>
            <img src="" alt="Kingkong">
            <h2>Kingkongs blog</h2>
        </header>
    <p>Hi I am kingkong and I love bananas</p>
    </section>

    <section id="latest-posts">
        <h2>My latest thoughts</h2>
    <ul>
        <li>
            <article class="post">
                <a href="">
                    <img src="" alt="Banana eating">
                    <div class="post__content">
                        <h3>Banana Eating</h3>
                        <p>Nom nom nom nom nom nom Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi dolor eos exercitationem fugit inventore iusto laboriosam molestiae nisi officiis porro ratione, recusandae sapiente soluta sunt suscipit tempora. Dicta, perferendis.</p>

                    </div>
                </a>
            </article>
        </li>
    </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>Blablablabl Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, corporis.lorem</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores eius error fugiat repellat, repellendus.</p>
    </section>
{% endblock %}